<template>
	<v-container fluid>
		<z-welcome v-if="user.hasOwnProperty('company')" :user="user"></z-welcome>
    <!-- <z-get-started v-if="!user.hasOwnProperty('company')" :user="user"></z-get-started> -->
	</v-container>
</template>

<script scoped>
  import {mapState} from 'vuex'
  import Welcome from './Welcome'
  // import GetStarted from './GetStarted'
	export default {
		name: 'CompanyHome',
		props: ['user'],
		data () {
			return {}
		},
		components: {
			'z-welcome': Welcome
      // 'z-get-started': GetStarted,
		},
    watch: {},
    computed: {
      // ...mapState({
      //   user: state => state.userStore.authUser
      // }),
    },
    methods: {
      emitErrorNotify (payload) {
        this.$events.fire('errorSnackbar', payload);
      },
      emitSuccessNotify (payload) {
        this.$events.fire('successSnackbar', payload);
      }
    },
    mounted () {
      if (!this.user.hasOwnProperty('company')) {
        this.$router.push('/' + this.user.username + '/get-started')
      }
    }
	}
</script>