<template>
	<v-container fluid>
    <vue-headful
      :title="'Forgot Password | ' + this.$ziConfig.APP_NAME"
    />
	    <v-layout row>
	      <v-flex xs12 sm6 md3 offset-md6 mt-2 mb-3 pt-5 pb-3>
	        <v-card mb-0>
	          <v-progress-linear v-show="firstStepProgress" v-bind:indeterminate="true"></v-progress-linear>
	          <v-toolbar class="indigo" dark>
	            <v-toolbar-title>Forgot Password</v-toolbar-title>
	            <v-spacer></v-spacer>
	            <v-icon dark>lock</v-icon>
	          </v-toolbar>
	          <v-card-text>
	            <h6><small class="title-caption">*indicates required field</small></h6>
	            <v-text-field
	              name="username"
	              label="Email/Username"
	              type="text"
	              hint="enter your jekalowa email/username"
                :error-messages="errors.collect('username')"
	              class="mt-3"
	              v-model="username"
	              required
	              v-validate="'required'"
	            ></v-text-field>
	            <v-btn color="primary" @click.stop="resetPassword" type="submit" :loading="loader" :disabled="loader">Reset Password
                <span slot="loader" class="custom-loader">
                  <v-icon light>cached</v-icon>
                </span>
              </v-btn> 
	            <router-link to="/sign_in" tag='a' class="already-text">sign in  instead?</router-link>
	          </v-card-text>
	        </v-card>
	      </v-flex>
	    </v-layout>
     <!-- Unauthorized Dialog -->
      <v-dialog v-model="unauthorizedDialog">
             <v-card>
                <v-avatar class="" size="300px">
                   <img class="jeka-notice-logo mt-1 ml-7" src="../../../assets/logo.png" alt="Jekalowa">
                </v-avatar>
                <v-card-title class="headline ">Unauthorized Notice!</v-card-title>
                <v-card-text class="follow-message">
                   {{unauthorizedMessage}}
                </v-card-text>
                <v-card-actions>
                   <v-spacer></v-spacer>
                   <v-btn color="green darken-1" flat="flat" @click.stop="unauthorizedDialog = false">Try Again</v-btn>
                </v-card-actions>
              </v-card>
          </v-dialog>

          <!-- Internal Server Error Dialog -->
       <v-dialog v-model="serverErrorDialog" max-width="290">
              <v-card>
                 <v-avatar class="" size="30">
                    <img class="jeka-notice-logo" src="../../../assets/logo.png" alt="Jekalowa">
                 </v-avatar>
                 <v-card-title class="headline">We Are Sorry!!!</v-card-title>
                 <v-card-text class="follow-message">
                    {{serverErrorMessage}}
                 </v-card-text>
                 <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="green darken-1" flat="flat" @click.stop="serverErrorDialog = false">Try Again</v-btn>
                 </v-card-actions>
               </v-card>
           </v-dialog>
	</v-container>
</template>

<script>
  export default {
    data () {
      return {
        username: '',
        errorMessage: '',
        successMessage: '',
        emailNotFound: false,
        emailFound: false,
        errorMessages: '',
        firstStepProgress: false,
        loader: false
      }
    },
    methods: {
      resetPassword () {
        this.errorMessages = ''
        this.emailFound = false
        this.emailNotFound = false
        this.$validator.validateAll({
          username: this.username
        }).then(result => {
          if (result) {
            this.firstStepProgress = true
            this.loader = true
            this.$store.dispatch('userForgotPassword', {username: this.username})
               .then(response => {
                  this.firstStepProgress = false
                  this.loader = false
                 if (response.body.status === 302) {
                   this.$notify({ group: 'app-template', text: response.body.message, type: 'error', duration: 3000, speed: 1000 })
                 } else if (response.status === 200) {
                   let messageData = {
                    message: response.body.success.message
                   }
                   this.emitSuccessNotify(messageData)
                   this.emailFound = true
                   // this.$router.push('/home')
                 } else if (response.status === 401) {
                   let messageData = {
                    message: response.statusText
                   }
                   this.emitErrorNotify(messageData)
                 } else if (response.status === 404) {
                    let messageData = {
                    message: response.body.message
                   }
                   this.emitSuccessNotify(messageData)
                 } else if (response.status === 500) {
                   let messageData = {
                    message: response.statusText
                   }
                   this.emitErrorNotify(messageData)
                 } else {}
               }, response => {
                 this.loader = false
                 this.firstStepProgress = false
                 console.log(response)
               })
          } else {
            this.errorCollector(this.errors.items, this)
          }
        })
      },
      errorCollector (items, self) {
        for (var i = 0, len = items.length; i < len; i++) {
          (function (i) {
            setTimeout(function () {
              var x = (i === 0) ? 0.5 : i / 2
              var time = 10000 * x
              var speed = 1000 * x
              self.$notify({ group: 'app-template', text: items[i].msg.replace(/_/g, ' '), type: 'error', duration: time, speed: speed })
            }, 1500 * i)
          })(i)
        }
      },
      emitErrorNotify (payload) {
        this.$events.fire('errorSnackbar', payload);
      },
      emitSuccessNotify (payload) {
        this.$events.fire('successSnackbar', payload);
      }
    }
  }
</script>

<style lang="scss" scoped>

</style>
