<template>
	<v-container fluid>
		<vue-headful
      :title="'Home | ' + this.$ziConfig.APP_NAME"
      description="Description from vue-headful"
    />
    <z-company-home v-if="user.accountType === 'company'" :user="user"></z-company-home>
    <z-user-home v-if="user.accountType === 'user'" :user="user"></z-user-home>
	</v-container>
</template>

<script scoped>
  import {mapState} from 'vuex'
  import CompanyHome from './company/Home'
  import UserHome from './user/Home'
	export default {
		name: 'UHome',
		data () {
			return {}
		},
		components: {
			'z-company-home': CompanyHome,
      'z-user-home': UserHome,
		},
    watch: {},
    computed: {
      ...mapState({
        user: state => state.userStore.authUser
      }),
    },
    methods: {
      emitErrorNotify (payload) {
        this.$events.fire('errorSnackbar', payload);
      },
      emitSuccessNotify (payload) {
        this.$events.fire('successSnackbar', payload);
      }
    },
     mounted () {}
	}
</script>

<style scoped>
	
</style>