<template>
 <v-container fluid class="login">
  <vue-headful
      :title="'Reset Password | ' + this.$jekalowaConfig.APP_NAME"
    />
     <v-layout row>
       <v-flex xs12 sm6 md3 offset-md6 mt-2 mb-3 pt-5 pb-3>
         <v-card mb-0>
           <v-progress-linear v-show="activityProgress" v-bind:indeterminate="true"></v-progress-linear>
           <v-toolbar class="indigo" dark>
             <v-toolbar-title>Jekalowa Reset Password</v-toolbar-title>
             <v-spacer></v-spacer>
             <v-icon dark>lock</v-icon>
           </v-toolbar>
            <v-alert color="warning" icon="priority_high" value="true" v-show="warningAlert">
               <span v-html="warningMessage"></span>
            </v-alert>
            <v-alert color="success" icon="check_circle" value="true" v-show="successAlert">
               <span v-html="successMessage"></span> <v-btn small to="/sign_in" color="primary" v-show="loginBtn">Sign In</v-btn>
            </v-alert>
           <v-card-text v-if="emptyCode">
            <h6 class="title mb-0"><small class="title-caption">*indicates required field</small></h6>
            <v-form>
              <v-text-field
                label="Enter reset password code"
                hint="enter reset password code"
                v-model="code"
                id="code"
                type="text"
                name="code"
                required
                v-validate="'required'"
                data-vv-name="code"
                :error-messages="errors.collect('code')"
              ></v-text-field>
              <v-btn color="primary" @click.stop="checkCode" :loading="loader" :disabled="loader">Verify
                <span slot="loader" class="custom-loader">
                  <v-icon light>cached</v-icon>
                </span>
              </v-btn>
            </v-form>
           </v-card-text>
           <v-card-text>
            <div id="reset-form" v-show="resetForm">
              <h6><small class="title-caption">*indicates required field</small></h6>
              <v-text-field
                name="password" 
                label="Password" 
                id="password"
                v-model="password"
                :error-messages="errors.collect('password')"
                v-validate="'required|min:8'"
                data-vv-name="password"
                required
                hint="At least 8 characters"
                min="8"
                :append-icon="e1 ? 'visibility' : 'visibility_off'"
                :append-icon-cb="() => (e1 = !e1)"
                :type="e1 ? 'password' : 'text'"
              ></v-text-field>
              <v-text-field
                name="confirm_password" 
                label="Password Confirmation" 
                id="confirm_password" 
                v-model="confirm_password"
                :error-messages="errors.collect('confirm_password')"
                v-validate="'confirmed:password'"
                data-vv-name="confirm_password"
                required
                min="8"
                :append-icon="e1 ? 'visibility' : 'visibility_off'"
                :append-icon-cb="() => (e1 = !e1)"
                :type="e1 ? 'password' : 'text'"
                counter
              ></v-text-field>
              <v-btn color="primary" @click.stop="resetPassword" type="submit" :loading="loader1" :disabled="loader1">Reset Password
                <span slot="loader" class="custom-loader">
                  <v-icon light>cached</v-icon>
                </span>
              </v-btn> 
              <router-link to="/sign_in" tag='a' class="already-text">sign in  instead?</router-link>
             </div>
           </v-card-text>
         </v-card>
       </v-flex>
     </v-layout>
 </v-container>
</template>

<script scoped>
 export default {
   name: 'reset-password',
   $_veeValidate: {
     validator: 'new'
   },
   data () {
     return {
       loader: false,
       loader1: false,
       emptyCode: false,
       code: '',
       password: '',
       confirm_password: '',
       e1: 1,
       activityProgress: false,
       loginBtn: false,
       resetForm: false,
       warningAlert: false,
       successAlert: false,
       warningMessage: '',
       successMessage: '',
        dictionary: {
          attributes: {
            confirm_password: 'Password',
          },
        }
     }
   },
   computed: {
     comparePasswords () {
       return this.password !== this.confirm_password ? 'Passwords do not match' : ''
     }
   },
   created () {
     this.updateInfo()
   },
   mounted () {
     this.$validator.localize('en', this.dictionary)
   },
   methods: {
     updateInfo () {
       if (this.$route.query.hasOwnProperty('code')) {
        this.code = this.$route.query.code
        this.checkCode()
      } else {
        this.emptyCode = true
      }
     },
    emitErrorNotify (payload) {
      this.$events.fire('errorSnackbar', payload);
    },
    emitSuccessNotify (payload) {
      this.$events.fire('successSnackbar', payload);
    },
    checkCode () {
      this.$validator.validateAll({
        code: this.code
      }).then(result => {
        if (result) {
         this.activityProgress = true
         this.loader = true
         this.$store.dispatch('validateCode', {code: this.code})
         .then(response => {
           this.activityProgress = false
           this.loader = false
           if (response.status === 200) {
             // success
             let messageData = {
              message: response.body.success.message
             }
             this.emitSuccessNotify(messageData)
             this.emptyCode = false
             this.resetForm = true
           } else if (response.status === 404) {
             let messageData = {
              message: response.body.message
             }
             this.emptyCode = true
             this.warningMessage = response.body.message
             this.warningAlert = true
             this.emitErrorNotify(messageData)
           } else {
             // display errors
             let messageData = {
              message: response.statusText
             }
             this.emitErrorNotify(messageData)
           }
         }, response => {
          this.activityProgress = false
          this.loader = false
          let messageData = {
            message: response.statusText
          }
          this.emitErrorNotify(messageData)
         })
        } else {
          // display errors
          this.loader = false
          this.activateProgress = false
          let messageData = {
            message: "Please check your form, everything is not looking ok."
          }
          this.emitErrorNotify(messageData)
        }
      })
     },
     resetPassword () {
       this.$validator.validateAll().then(result => {
         if (result) {
           this.activityProgress = true
           this.loader1 = true
           this.$store.dispatch('resetPassword', {password: this.password, confirm_password: this.confirm_password, code: this.code})
             .then(response => {
               this.activityProgress = false
               this.loader1 = false
               this.resetForm = false
               if (response.status === 200) {
                 // success
                 let messageData = {
                  message: response.body.success.message
                 }
                 this.code = ''
                 this.password = ''
                 this.confirm_password = ''
                 this.successMessage = response.body.success.message
                 this.loginBtn = true
                 this.successAlert = true
                 this.emitSuccessNotify(messageData)
               } else if (response.status === 409) {
                 let messageData = {
                  message: response.body.message
                 }
                 this.warningMessage = response.body.message
                 this.warningAlert = true
                 this.emitErrorNotify(messageData)
               } else if (response.status === 422) {
                 this.resetForm = true
                 this.errorCollector(response.body.errors, this)
                 var errors = response.body.errors
                 var items = []
                 Object.keys(errors).forEach(function (key, self = this) {
                   items.push(errors[key][0])
                 })
                 this.displayErrors(items, this)
               } else {
                 let messageData = {
                  message: response.statusText
                 }
                 this.emitErrorNotify(messageData)
               }
             }, response => {
               let messageData = {
                message: response.statusText
               }
               this.emitErrorNotify(messageData)
             })
         } else {
           this.errorCollector(this.errors.items, this)
           this.activityProgress = false
           this.loader1 = false
         }
       })
     },
     errorCollector (items, self) {
       for (var i = 0, len = items.length; i < len; i++) {
         (function (i) {
           setTimeout(function () {
             var x = (i === 0) ? 0.5 : i / 2
             var time = 10000 * x
             var speed = 1000 * x
             self.$notify({ group: 'app-template', text: items[i].msg.replace(/_/g, ' '), type: 'error', duration: time, speed: speed })
           }, 1500 * i)
         })(i)
       }
     },
     displayErrors (items, self) {
       for (var i = 0, len = items.length; i < len; i++) {
         (function (i) {
           setTimeout(function () {
             var x = (i === 0) ? 0.5 : i / 2
             var time = 10000 * x
             var speed = 1000 * x
             self.$notify({ group: 'app-template', text: items[i].replace(/_/g, ' '), type: 'error', duration: time, speed: speed })
           }, 1500 * i)
         })(i)
       }
     }
   }
}
</script>

<style lang="scss" scoped>

</style>
