<template>
	<v-container fluid>
    <v-layout row wrap>
      <v-flex xs12 md4 offset-md4>
      	<div :class="{'is-waiting': loader}">
	        <v-card>
	          <v-toolbar color="indigo" dark>
	          	<v-spacer></v-spacer>
	            <v-toolbar-title>{{ this.$ziConfig.APP_NAME }} Registration</v-toolbar-title>
	          </v-toolbar>
	          <v-card-text>
	          	<v-select
			          :items="[{text: 'User', value: 'user'}, {text: 'Insurance Company', value: 'company'}]"
			          v-model="account_type"
			          label="Choose Account Type"
	              hint="Select account type"
                :error-messages="errors.collect('account_type')"
                v-validate="'required'"
                data-vv-name="account_type"
	              required
			          single-line
			        ></v-select>
	            <v-text-field
                v-if="account_type"
	              label="Full Name"
	              class="mt-0"
	              v-model="full_name"
	              hint="Enter your full_name"
                :error-messages="errors.collect('full_name')"
                v-validate="'required'"
                data-vv-name="full_name"
	              required
	              type="text"
	            ></v-text-field>
	            <v-text-field
                v-if="full_name"
	              label="Username"
	              class="mt-0"
	              v-model="username"
	              hint="Enter your username"
                :error-messages="errors.collect('username')"
                v-validate="'required'"
                data-vv-name="username"
	              required
	              type="text"
	            ></v-text-field>
	            <v-text-field
                v-if="username"
	              label="E-mail Address"
	              class="mt-0"
	              v-model="email"
	              hint="Enter your email address"
                :error-messages="errors.collect('email')"
                v-validate="'required|email'"
                data-vv-name="email"
	              required
	              type="email"
	            ></v-text-field>
	            <v-text-field
                v-if="email"
                name="password"
	              label="Password"
	              hint="Enter your password"
	              v-model="password"
                :error-messages="errors.collect('password')"
                v-validate="'required'"
                data-vv-name="password"
                type="password"
                required
	            ></v-text-field>
  						<v-text-field
                v-if="password"
  						  name="confirm_password" 
  						  label="Re-type Password" 
  						  id="confirm_password" 
  						  type="password" 
  						  v-model="confirm_password"
  						  :error-messages="errors.collect('confirm_password')"
  						  v-validate="'confirmed:password'"
  						  data-vv-name="confirm_password"
  						  required
  						></v-text-field>
	            <small class="red--text">*indicates required field</small>
	          </v-card-text>
	          <v-card-actions>
              <v-menu offset-y>
                <v-btn color="black" dark slot="activator">Other options</v-btn>
                <v-list>
                  <v-list-tile to="/login">
                    <v-list-tile-title>Manage Your Account</v-list-tile-title>
                  </v-list-tile>
                </v-list>
              </v-menu>
	          	<v-spacer></v-spacer>
	          	<v-btn color="secondary" @click.stop="register" :disabled="disabled">Create Account</v-btn>
	          </v-card-actions>
	        </v-card>
	      </div>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script scoped>
	export default {
		name: 'SignUp',
    $_veeValidate: {
      validator: 'new'
    },
		data () {
			return {
				account_type: '',
				username: '',
				password: '',
				full_name: '',
				email: '',
				confirm_password: '',
				disabled: true,
				loader: false,
        dictionary: {
          attributes: {
          	full_name: 'Full name',
          	email: 'E-mail address',
          	confirm_password: 'Password',
          	account_type: 'Account type'
          },
        }
			}
		},
		watch: {
			confirm_password () {
				this.disabled = false
			}
		},
		computed: {},
		methods: {
      register () {
        this.$validator.validateAll().then(result => {
          if (result) {
        		this.loader = true
          	this.$store.dispatch('signUp', {name: this.full_name, email: this.email, account_type: this.account_type, username: this.username, password: this.password})
          		.then(response => {
          			this.loader = false
          			if (response.status === 200) {
                   this.$router.push('/login')
                   this.emitSuccessNotify(response.body.success)
          			} else if (response.status === 409) {
                  this.emitErrorNotify(response.body)
                } else if (response.status === 404) {
                  this.emitErrorNotify(response.body)
                } else if (response.status === 422) {
                  var errors = response.body.errors
                  var items = []
                  Object.keys(errors).forEach(function (key, self = this) {
                    items.push(errors[key][0])
                  })
                  this.displayErrors(items, this)
                } else {
                 	let postMessage = {
                    message: response.statusText
                  }
                  this.emitErrorNotify(postMessage)
                } 
          		}, response => {
          			this.loader = false
          			postMessage = {
          				message: response.statusText
          			}
          			this.emitErrorNotify(postMessage)
          		})
		        // this.$http.post('account/login', {
		        //   email: this.email,
		        //   password: this.password
		        // }).then((response) => {
		        //   localStorage.setItem('token', response.body.token)
		        //   router.push('/')
		        // }, () => {
		        //   this.loader = false
		        //   this.password = ''
		        // })
		      }
        })
      },
      emitErrorNotify (payload) {
        this.$events.fire('errorSnackbar', payload)
      },
      emitSuccessNotify (payload) {
        this.$events.fire('successSnackbar', payload)
      },
      errorCollector (items, self) {
        for (var i = 0, len = items.length; i < len; i++) {
          (function (i) {
            setTimeout(function () {
              var x = (i === 0) ? 0.5 : i / 2
              var time = 10000 * x
              var speed = 1000 * x
              self.$notify({ group: 'app-template', text: items[i].msg.replace(/_/g, ' '), type: 'error', duration: time, speed: speed })
            }, 1500 * i)
          })(i)
        }
      },
      displayErrors (items, self) {
        for (var i = 0, len = items.length; i < len; i++) {
          (function (i) {
            setTimeout(function () {
              var x = (i === 0) ? 0.5 : i / 2
              var time = 10000 * x
              var speed = 1000 * x
              self.$notify({ group: 'app-template', text: items[i].replace(/_/g, ' '), type: 'error', duration: time, speed: speed })
            }, 1500 * i)
          })(i)
        }
      }
    },
    mounted () {
      this.$validator.localize('en', this.dictionary)
    },
	}
</script>

<style scoped>
	
</style>