<template>
	<v-container fluid>
    <v-layout row wrap>
      <v-flex xs12 md4 offset-md4>
      	<div :class="{'is-waiting': loader}">
	        <v-card>
	          <v-toolbar color="indigo" dark>
	          	<v-spacer></v-spacer>
	            <v-toolbar-title>{{ this.$ziConfig.APP_NAME }} Login</v-toolbar-title>
	          </v-toolbar>
	          <v-card-text>
	            <v-text-field
	              label="Username"
	              class="mt-0"
	              v-model="username"
	              hint="Enter your username"
                :error-messages="errors.collect('username')"
                v-validate="'required'"
                data-vv-name="username"
	              required
	              type="text"
	            ></v-text-field>
	            <v-text-field
	              label="Password"
	              hint="Enter your password"
	              v-model="password"
                :error-messages="errors.collect('password')"
                v-validate="'required'"
                data-vv-name="password"
                type="password"
                required
	            ></v-text-field>
	            <small class="red--text">*indicates required field</small>
	          </v-card-text>
	          <v-card-actions>
              <v-menu offset-y>
                <v-btn color="black" dark slot="activator">Other options</v-btn>
                <v-list>
                  <v-list-tile to="/register">
                    <v-list-tile-title>Create An Account</v-list-tile-title>
                  </v-list-tile>
                  <v-list-tile to="/forgot">
                    <v-list-tile-title>Forgot Your Password</v-list-tile-title>
                  </v-list-tile>
                  <v-list-tile to="/verify">
                    <v-list-tile-title>Verify Your Account</v-list-tile-title>
                  </v-list-tile>
                </v-list>
              </v-menu>
	          	<v-spacer></v-spacer>
	          	<v-btn color="secondary" @click.stop="login">Login</v-btn>
	          </v-card-actions>
	        </v-card>
	      </div>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script scoped>
	export default {
		name: 'SignIn',
    $_veeValidate: {
      validator: 'new'
    },
		data () {
			return {
				'username': '',
				password: '',
				loader: false,
        dictionary: {
          attributes: {},
        }
			}
		},
		watch: {},
		computed: {},
		methods: {
      login () {
        this.$validator.validateAll().then(result => {
          if (result) {
        		this.loader = true
          	this.$store.dispatch('signIn', {username: this.username, password: this.password})
          		.then(response => {
          			this.loader = false
          			if (response.status === 200) {
                   window.location.href = '/' + this.username + '/home'
          			} else if (response.status === 409) {
                  this.emitErrorNotify(response.body)
                } else if (response.status === 404) {
                  this.emitErrorNotify(response.body)
                } else if (response.status === 422) {
                  var errors = response.body.errors
                  var items = []
                  Object.keys(errors).forEach(function (key, self = this) {
                    items.push(errors[key][0])
                  })
                  this.displayErrors(items, this)
                } else {
                 	let postMessage = {
                    message: response.statusText
                  }
                  this.emitErrorNotify(postMessage)
                } 
          		}, response => {
          			this.loader = false
          			postMessage = {
          				message: response.statusText
          			}
          			this.emitErrorNotify(postMessage)
          		})
		        // this.$http.post('account/login', {
		        //   email: this.email,
		        //   password: this.password
		        // }).then((response) => {
		        //   localStorage.setItem('token', response.body.token)
		        //   router.push('/')
		        // }, () => {
		        //   this.loader = false
		        //   this.password = ''
		        // })
		      }
        })
      },
      emitErrorNotify (payload) {
        this.$events.fire('errorSnackbar', payload)
      },
      emitSuccessNotify (payload) {
        this.$events.fire('successSnackbar', payload)
      },
      errorCollector (items, self) {
        for (var i = 0, len = items.length; i < len; i++) {
          (function (i) {
            setTimeout(function () {
              var x = (i === 0) ? 0.5 : i / 2
              var time = 10000 * x
              var speed = 1000 * x
              self.$notify({ group: 'app-template', text: items[i].msg.replace(/_/g, ' '), type: 'error', duration: time, speed: speed })
            }, 1500 * i)
          })(i)
        }
      },
      displayErrors (items, self) {
        for (var i = 0, len = items.length; i < len; i++) {
          (function (i) {
            setTimeout(function () {
              var x = (i === 0) ? 0.5 : i / 2
              var time = 10000 * x
              var speed = 1000 * x
              self.$notify({ group: 'app-template', text: items[i].replace(/_/g, ' '), type: 'error', duration: time, speed: speed })
            }, 1500 * i)
          })(i)
        }
      }
    },
    mounted () {
      this.$validator.localize('en', this.dictionary)
    },
	}
</script>

<style scoped>
	
</style>