<template>
	<v-footer :fixed="fixed" color="secondary">
    <span>&copy; {{ new Date().getFullYear() }}</span>
  </v-footer>
</template>

<script scoped>
	export default {
		name: 'AppFooter',
		data () {
			return {
	      fixed: false,
	    }
		}
	}
</script>