<template>
  <div>
  	<v-toolbar
	    app
	    color="primary"
	    :clipped-left="clipped"
	  >
	  	<v-spacer></v-spacer>
	    <v-btn flat to="/login" class="white--text" @click.stop="clipped = !clipped">
	      Login
	    </v-btn>
	    <v-btn flat to="/register" class="white--text" @click.stop="fixed = !fixed">
	      Sign Up
	    </v-btn>
	    <v-btn flat to="/company" class="white--text" @click.stop="fixed = !fixed">
	      Insurance Companies
	    </v-btn>
	    <v-toolbar-title v-text="'ZongoInsure'"></v-toolbar-title>
	    <v-spacer></v-spacer>
	    <v-btn icon @click.stop="rightDrawer = !rightDrawer">
	      <v-icon>menu</v-icon>
	    </v-btn>
	  </v-toolbar>
	  <v-navigation-drawer
	    temporary
	    :right="right"
	    v-model="rightDrawer"
	    fixed
	    app
	  >
	    <v-list>
	      <v-list-tile @click="right = !right">
	        <v-list-tile-action>
	          <v-icon>compare_arrows</v-icon>
	        </v-list-tile-action>
	        <v-list-tile-title>Switch drawer (click me)</v-list-tile-title>
	      </v-list-tile>
	    </v-list>
	  </v-navigation-drawer>
  </div>
</template>

<script scoped>
	export default {
		name: 'AppNav',
		data () {
			return {
	      clipped: false,
	      drawer: true,
	      fixed: false,
	      items: [{
	        icon: 'bubble_chart',
	        title: 'Inspire'
	      }],
	      miniVariant: false,
	      right: true,
	      rightDrawer: false,
	    }
		}
	}
</script>