<template>
	<div>
	 	<z-user-side-menu v-if="user.accountType === 'consumer'"></z-user-side-menu>
    <z-company-side-menu v-if="user.accountType === 'company'"></z-company-side-menu>
	</div>
</template>

<script scoped>
  import {mapState} from 'vuex'
  import ComSideMenu from './CompanySideMenu'
  import UserSideMenu from './UserSideMenu'
  export default {
    name: 'AppSideMenu',
    data () {
      return {}
    },
    computed: {
      ...mapState({
        user: state => state.userStore.authUser
      }),
    },
    components: {
      'z-company-side-menu': ComSideMenu,
      'z-user-side-menu': UserSideMenu
    }
  }
</script>

<style lang="css" scoped>
  
</style>