<template>
	<div>
	 <v-navigation-drawer
      fixed
      :clipped="true"
      app
      absolute
      v-model="drawer"
      :disable-resize-watcher="true"
      :disable-route-watcher="true"
      :floating="true"
      mini-variant-width="12"
    >
      <v-list dense>
        <template v-for="item in items" :to="item.to">
          <v-layout
            row
            v-if="item.heading"
            align-center
            :key="item.heading"
          >
            <v-flex xs6>
              <v-subheader v-if="item.heading">
                {{ item.heading }}
              </v-subheader>
            </v-flex>
            <v-flex xs6 class="text-xs-center">
              <a href="#!" class="body-2 black--text">EDIT</a>
            </v-flex>
          </v-layout>
          <v-list-group
            v-else-if="item.children"
            v-model="item.model"
            :key="item.text"
            :prepend-icon="item.model ? item.icon : item['icon-alt']"
            append-icon=""
          >
            <v-list-tile slot="activator" :to="item.to">
              <v-list-tile-content>
                <v-list-tile-title>
                  {{ item.text }}
                </v-list-tile-title>
              </v-list-tile-content>
            </v-list-tile>
            <v-list-tile
              v-for="(child, i) in item.children"
              :key="i"
              :to="child.to"
            >
              <v-list-tile-action v-if="child.icon">
                <v-icon>{{ child.icon }}</v-icon>
              </v-list-tile-action>
              <v-list-tile-content>
                <v-list-tile-title>
                  {{ child.text }}
                </v-list-tile-title>
              </v-list-tile-content>
            </v-list-tile>
          </v-list-group>
          <v-list-tile v-else @click="" :key="item.text" :to="item.to">
            <v-list-tile-action>
              <v-icon>{{ item.icon }}</v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title>
                {{ item.text }}
              </v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>
        </template>
      </v-list>
      <v-list>
        <v-list-tile @click="handleLogout()">
          <v-list-tile-action>
            <v-icon>lock</v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title>Sign Out</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
      </v-list>
    </v-navigation-drawer>
    <v-toolbar
      color="primary darken-0"
      dark
      app
      :clipped-left="true"
      fixed
      class="elevation-0"
    >
      <v-toolbar-title style="width: 300px" class="ml-0 pl-3">
        <v-toolbar-side-icon @click.stop="drawer = !drawer"></v-toolbar-side-icon>
        <span class="hidden-sm-and-down" v-text="this.$fundImpactConfig.APP_NAME"></span>
      </v-toolbar-title>
      <v-text-field
        flat
        solo-inverted
        prepend-icon="search"
        label="Search"
        class="hidden-sm-and-down"
      ></v-text-field>
      <v-spacer></v-spacer>
      <v-btn icon>
        <v-icon>apps</v-icon>
      </v-btn>
      <v-btn icon>
        <v-icon>notifications</v-icon>
      </v-btn>
      <v-btn icon large>
        <v-avatar size="32px" tile>
          <img
            src="../../assets/logo.png"
            :alt="this.$ziConfig.APP_NAME"
          >
        </v-avatar>
      </v-btn>
    </v-toolbar>	
	</div>
</template>

<script scoped>
  export default {
    name: 'VSideMenu',
    data () {
      return {
        drawer: null,
        items: [
          { icon: 'home', text: 'Home', to: '/me'},
          { icon: 'person', text: 'Profile', to: '/me/profile' },
          { icon: 'settings', text: 'Settings', to: '/me/settings' },
          // { icon: 'help', text: 'Help' },
          { icon: 'phonelink', text: 'App downloads', to: '/app-downloads' },
          {
            icon: 'keyboard_arrow_up',
            'icon-alt': 'keyboard_arrow_down',
            text: 'Help',
            model: false,
            children: [
              { icon: 'fa-question-circle', text: 'Frequently Asked Questions', to: '/support/faqs' },
              { icon: 'fa-envelope-square', text: 'Email Us', to: '/support/email-us' },
              { icon: 'fa-phone-square', text: 'Email Us', to: '/support/call-us' },
              { icon: 'comments', text: 'Live Chat', to: '/support/live' },
              { icon: 'chat_bubble', text: 'Send feedback', to: '/support/send-feedback' }
            ]
          },
          {
            icon: 'keyboard_arrow_up',
            'icon-alt': 'keyboard_arrow_down',
            text: 'More',
            model: false,
            children: [
              { icon: 'fa-lightbulb', text: 'Fundraising Ideas', to: '/ideas' },
              { icon: 'fa-compass', text: 'How It Works', to: '/tour' }
            ]
          }
        ]
      }
    },
    methods: {
      handleLogout () {
        this.$store.dispatch('clearAuthUser')
      }
    }
  }
</script>

<style lang="css" scoped>
  
</style>